@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

body {
    font-family: Boogaloo, sans-serif;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #424551;
    min-height: 2000px;
    background-color: rgb(236, 220, 230);
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
}

[class*="__container"] {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

/*------header---------------*/

.header {
    margin-bottom: 50px;
}

.header__container {}

.header__title {
    font-size: 60px;
    letter-spacing: 5px;
    text-align: center;
}

/*-----main-------------------*/

.page {
    margin-bottom: 50px;
}

.page__container {}

.page__items {}

.items {}

[class*="items__item"] {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 30px;
    background-color: #424551;

}

[class*="items-box"] {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: rgb(146, 146, 146);
}

.items__item1 {}

.items-box1:hover {
    transform: translate(20px, 30px);
}

.items__item2 {}

.items-box2:hover {
    transform: scale(0.3);
}

.items__item3 {}

.items-box3:hover {
    transform: rotate(25deg);
}

.items__item4 {}

.items-box4:hover {
    transform: skew(10deg, 20deg);
}

.items__item5 {}

.items-box5:hover {
    transform: matrix(0.7, 0.1, 0.6, 0.7, 0.5, 0.5);
}

.items__item6 {}

.items-box6:hover {
    transform-origin: top right;
    transform: rotate(20deg);
}

.items__item7 {
    perspective: 300px;
}

.items-box7:hover {
    transform: rotateX(70deg);
}

.items__item8 {}

.items-box8:hover {
    transform: translate3d(10px, 30px, 50px);
}

.items__item9 {}

.items-box9:hover {
    transform: rotate3d(0.2, 1, 0.5, 35deg);
}

.items__item10 {}

.items-box10:hover {
    transform: scale3d(0.5, 0.8, 0.5);
}

.items__item11 {
    perspective: 150px;
    transform-style: preserve-3d;
}

.items-box11:hover {
    transform: rotateX(65deg);
}

.items__item12 {
    perspective: 450px;
}

.items-box12:hover {
    transform: rotateY(80deg);
    backface-visibility: hidden;
}

/*----footer-------------------*/

.footer {}

.footer__container {}

.footer__content {
    width: 1000px;
    height: 600px;
    padding: 20px;
    background-color: #fff;
}

.footer__table {
    background: url("../img/footer/table.jpg") 0 0/cover no-repeat;
    width: 100%;
    height: 100%;
}

.footer__cards {
    position: relative;
}

.footer__deck-cards {
    background: url("../img/footer/card.jpg") 0 0/100% no-repeat;
    width: 85px;
    height: 117px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.527);
    position: absolute;
    top: 250px;
    left: 80px;
    transform: skew(-2deg);
    z-index: 10;
}

.deck-cards {}

[class*="deck-cards__card"] {
    background: url("../img/footer/card.jpg")0 0/100% no-repeat;
    width: 85px;
    height: 117px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.527);
    position: absolute;

}

.deck-cards__card1 {
    transform: skew(-2deg);
    transform: translate(-2px);
    position: absolute;
    top: 1px;
    left: 3px;
}

.deck-cards__card2 {
    transform: skew(-2deg);
    transform: translate(-3px);
    position: absolute;
    top: 1.5px;
    left: 2px;
}

.deck-cards__card3 {
    transform: skew(-2deg);
    transform: translate(-4px);
    position: absolute;
    top: 1px;
    left: 1px;
}

.footer__trump-card {
    background: url("../img/footer/q.png") 0 0/100% no-repeat;
    width: 85px;
    height: 117px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.527);
    position: absolute;
    top: 250px;
    left: 115px;
    transform: rotate(90deg);

}

/*============================================*/

.footer__player1 {
    position: relative;
}

.player1 {}

.player1__card1 {
    background: url("../img/footer/card.jpg") 0 0/100% no-repeat;
    width: 85px;
    height: 117px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.527);
    position: absolute;
    top: 40px;
    left: 360px;
    transform: rotate(25deg);
}

.player1__card2 {
    background: url("../img/footer/card.jpg") 0 0/100% no-repeat;
    width: 85px;
    height: 117px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.527);
    position: absolute;
    top: 40px;
    left: 370px;
    transform: rotate(20deg);
}

.player1__card3 {
    background: url("../img/footer/card.jpg") 0 0/100% no-repeat;
    width: 85px;
    height: 117px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.527);
    position: absolute;
    top: 37px;
    left: 378px;
    transform: rotate(10deg);
}

.player1__card4 {
    background: url("../img/footer/card.jpg") 0 0/100% no-repeat;
    width: 85px;
    height: 117px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.527);
    position: absolute;
    top: 37px;
    left: 385px;
    transform: rotate(5deg);
}


.footer__player2 {
    position: relative;
    transform: rotate(160deg);
    top: 550px;
}

.player2 {}

.player2__card1 {
    background: url("../img/footer/card.jpg") 0 0/100% no-repeat;
    width: 85px;
    height: 117px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.527);
    position: absolute;
    top: 40px;
    left: 360px;
    transform: rotate(25deg);
}

.player2__card2 {
    background: url("../img/footer/card.jpg") 0 0/100% no-repeat;
    width: 85px;
    height: 117px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.527);
    position: absolute;
    top: 40px;
    left: 370px;
    transform: rotate(20deg);
}

.player2__card3 {
    background: url("../img/footer/card.jpg") 0 0/100% no-repeat;
    width: 85px;
    height: 117px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.527);
    position: absolute;
    top: 37px;
    left: 378px;
    transform: rotate(10deg);
}

.player2__card4 {
    background: url("../img/footer/card.jpg") 0 0/100% no-repeat;
    width: 85px;
    height: 117px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.527);
    position: absolute;
    top: 37px;
    left: 385px;
    transform: rotate(5deg);
}

.player2__card5 {
    background: url("../img/footer/card.jpg") 0 0/100% no-repeat;
    width: 85px;
    height: 117px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.527);
    position: absolute;
    top: 30px;
    left: 395px;
    transform: rotate(-5deg);
}

.footer__player3 {
    position: relative;
    transform: rotate(-60deg);
    top: 180px;
    left: 250px;
}

.player3__card1 {
    background: url("../img/footer/card.jpg") 0 0/100% no-repeat;
    width: 85px;
    height: 117px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.527);
    position: absolute;
    top: 40px;
    left: 360px;
    transform: rotate(-25deg);
}

.player3__card2 {
    background: url("../img/footer/card.jpg") 0 0/100% no-repeat;
    width: 85px;
    height: 117px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.527);
    position: absolute;
    top: 40px;
    left: 370px;
    transform: rotate(-20deg);
}

.player3__card3 {
    background: url("../img/footer/card.jpg") 0 0/100% no-repeat;
    width: 85px;
    height: 117px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.527);
    position: absolute;
    top: 37px;
    left: 378px;
    transform: rotate(-10deg);
}

.player3__card4 {
    background: url("../img/footer/card.jpg") 0 0/100% no-repeat;
    width: 85px;
    height: 117px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.527);
    position: absolute;
    top: 37px;
    left: 385px;
    transform: rotate(-5deg);
}

.player3__card5 {
    background: url("../img/footer/card.jpg") 0 0/100% no-repeat;
    width: 85px;
    height: 117px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.527);
    position: absolute;
    top: 30px;
    left: 395px;
    transform: rotate(5deg);
}

/*=========================================*/
.footer__game {}

.game {}

.game__left {}

.left {
    position: relative;
}

.left__card1 {
    background: url("../img/footer/7.png") 0 0/100% no-repeat;
    width: 85px;
    height: 117px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.527);
    position: absolute;
    top: 245px;
    left: 350px;
    transform: rotate(10deg);
}

.left__card2 {
    background: url("../img/footer/j.png") 0 0/100% no-repeat;
    width: 85px;
    height: 117px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.527);
    position: absolute;
    top: 210px;
    left: 320px;
    transform: rotate(2deg);
}

.game__right {}

.right {
    position: relative;
}

.right__card1 {
    background: url("../img/footer/7t.png") 0 0/100% no-repeat;
    width: 85px;
    height: 117px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.527);
    position: absolute;
    top: 200px;
    left: 520px;
    transform: rotate(-30deg);
}

.right__card2 {
    background: url("../img/footer/10.png") 0 0/100% no-repeat;
    width: 85px;
    height: 117px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.527);
    position: absolute;
    top: 140px;
    left: 530px;
    transform: rotate(-20deg);
}