@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
    font-family: "Larsseit";
    src: url(../fonts/Larsseit-Light.woff) format("woff"), url(../fonts/Larsseit-Light.woff2) format("woff2");
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Larsseit";
    src: url(../fonts/Larsseit-Medium.woff) format("woff"), url(../fonts/Larsseit-Medium.woff2) format("woff2");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: "Roboto";
}

h1,
h2,
h3 {
    font-family: "Lato";
}

li {
    font-family: "Larsseit";
    font-weight: 300;
}

.medium {
    font-weight: 500;
}

a {
    font-family: "Larsseit";
    color: blue;
}

h1 {
    font-size: 54px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 22px;
}

.facts p {
    font-size: 28px;
}

.speed h2 {
    font-size: 108px;
}