@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    font-family: 'Comic Neue', sans-serif;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #424551;
    min-height: 2000px;
    background-color: rgb(227, 215, 235);
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
}

[class*="__container"] {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

/*------header---------------*/

.header {
    margin-bottom: 50px;
}

.header__container {}

.header__title {
    font-size: 60px;
    letter-spacing: 5px;
    text-align: center;
}

/*-----main-------------------*/

.page {}

.page__container {}

.page__items {
    margin-bottom: 100px;
}

.items {
    margin-left: 30px;
}

.items__text {
    font-size: 24px;
    margin-bottom: 10px;
}

[class*="items__block"] {
    border: 3px solid #683e85;
    background-color: #683e85;
    margin-bottom: 30px;
}

.items__block1 {
    display: flex;
}

.items__block1:hover {
    display: inline-flex;
}

.items__box {
    color: #424551;
    background-color: rgb(221, 221, 221);
    font-size: 20px;
    padding: 10px;
    border: 3px solid #d48ef0;
}

.items__block2 {
    display: flex;
    flex-wrap: wrap;
    max-width: 100px;
}

.items__block2:hover {
    flex-wrap: nowrap;
    max-width: 100%;
}

.items__box {}

.items__block3 {
    display: flex;
    justify-content: center;
    /*justify-content: flex-end;*/
    /*justify-content: space-between;*/
    /*justify-content: space-evenly;*/
}

.items__block3:hover {
    justify-content: space-around;
}

.items__box {}

.items__block4 {
    height: 150px;
    width: 300px;
    display: inline-flex;
    align-items: center;
    /*align-items: flex-end;*/
}

.items__block4:hover {
    align-items: flex-start;
}

.items__box-big {
    color: #424551;
    background-color: rgb(221, 221, 221);
    font-size: 20px;
    padding: 20px;
    border: 3px solid #d48ef0;
}

.items__block5 {
    display: flex;
    height: 200px;
    width: 300px;
    flex-direction: row-reverse;
    /*flex-direction: column-reverse;*/
}

.items__block5:hover {
    flex-direction: column;
}

.items__box {}

.items__block6 {
    height: 200px;
    width: 500px;
    display: flex;
}

.items__box {
    align-self: flex-end;
}

.items__box:hover {
    align-self: flex-start;
}

.items__block7 {
    height: 200px;
    width: 500px;
    display: flex;
}

.items__box-b {
    color: #424551;
    background-color: rgb(221, 221, 221);
    font-size: 20px;
    padding: 10px;
    border: 3px solid #d48ef0;
    flex-basis: 20%;
}

.items__block8 {
    height: 200px;
    width: 300px;
    display: flex;
}

.items__box-biig {
    color: #424551;
    background-color: rgb(221, 221, 221);
    font-size: 20px;
    padding: 10px;
    border: 3px solid #d48ef0;
    flex-grow: 1;
}

.items__block9 {
    height: 200px;
    width: 300px;
    display: flex;
}

.items__box-bigg {
    color: #424551;
    background-color: rgb(221, 221, 221);
    font-size: 20px;
    padding: 10px;
    border: 3px solid #d48ef0;
    flex-shrink: 1;
}

.items__block10 {
    display: flex;
}

.items__box2 {
    color: #424551;
    background-color: rgb(221, 221, 221);
    font-size: 20px;
    padding: 10px;
    border: 3px solid #d48ef0;
    flex: 1 0 auto;
}

.items__block11 {
    display: flex;
    gap: 20px;
}

.items__box {}

/*----footer----------------------*/

.footer {}

.footer__container {
    min-width: 900px;

}

.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 40px;
    background-color: #fff;
    padding: 10px;
}

.footer__card {}

.card {
    font-family: Roboto, sans-serif;
    flex: 0 1 auto;
}

.card__image img {
    max-width: 400px;
    height: 100%;
}

.card__image:not(:last-child) {
    margin-bottom: 15px;
}

.card__body {
    padding: 0 5px;
    max-width: 390px;
}

.body-card {}

.body-card__sub-title,
.body-card__color {
    color: rgba(151, 151, 151, 0.938);
}

.body-card__title:not(:last-child),
.body-card__sub-title:not(:last-child),
.body-card__color:not(:last-child),
.body-card__price:not(:last-child) {
    margin-bottom: 5px;
}

/*----------------------------------------*/