@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
    font-family: Lato, serif;
    color: #424551;
    font-size: 0px;

}

[class*="__container"] {
    max-width: 1200px;
    margin: 0 auto;
    border: 2px solid #676f8f;
    box-shadow: 3px 3px 10px 5px #424551;
}

[class*="box"] {
    background-color: rgb(212, 163, 0);
}

/*------main----------------*/

.wrapper {
    margin: 30px;
}

.game-block {
    background-color: rgb(247, 234, 191);
}

.game {
    min-height: 760px;
    padding: 30px;
}

.game .div {
    display: inline-block;
}

.game .div:not(:last-child) {
    border: 1px solid rgb(129, 129, 247);
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.finish {
    visibility: hidden;
}

.start {
    width: 100px;
    height: 100px;
    background: url("../img/home.jpg") 50%/100% auto no-repeat;
    margin: 100px 0 0 50px;
}


.box1::before {
    display: inline-block;
    content: "";
    background: url("../img/cat.png") 50%/ 100% no-repeat;
    width: 50px;
    height: 50px;
}

.box1 {
    width: 400px;
    height: 50px;
    margin-left: 100px;
    margin-top: -50px;
}

.box2 {
    width: 50px;
    height: 150px;
    margin-left: 450px;
}

.box3 {
    width: 200px;
    height: 35px;
    margin-left: 300px;
}

.box4 {
    width: 30px;
    height: 170px;
    margin-left: 300px;
    margin-top: -35px;
}

.box5 {
    width: 300px;
    height: 25px;
    margin-left: 300px;
}

.box6 {
    width: 25px;
    height: 45px;
    margin-left: 600px;
    margin-top: -25px;
}

.box7 {
    width: 300px;
    height: 20px;
    margin-left: 600px;
}

.box7::before {
    display: inline-block;
    content: "";
    background: url("../img/cat.png") 0 0/ 100% repeat-x;
    width: 20px;
    height: 20px;
}

.finish {
    width: 100px;
    height: 100px;
    background: url("../img/home.jpg") 0 0 /100% auto no-repeat;
    margin: -20px 0 0 900px;
}

.start:hover .box1 {
    visibility: visible;
}

.box1:hover .box2 {
    visibility: visible;
}
.start:hover .box3{
    visibility: visible;
}