@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

body {
    font-family: 'Comic Neue', sans-serif;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #424551;
    min-height: 2000px;
    background-color: rgb(193, 223, 216);
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
}

[class*="__container"] {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

/*------header---------------*/

.header {
    margin-bottom: 50px;
}

.header__container {}

.header__title {
    font-size: 60px;
    letter-spacing: 5px;
    text-align: center;
}

/*-----main-------------------*/

.page {
    margin-bottom: 50px;
}

.page__container {}

.page__items {}

.items {}


[class*="items-box"] {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 30px;
    background-color: rgb(146, 146, 146);
}

/*===transition================================*/

.items-box1 {
    transition-duration: 0.5s;
}

.items-box1:hover {
    background-color: rgb(107, 69, 124);
}

.items-box2 {
    transition-property: all;
}

.items-box2:hover {
    width: 100px;
    height: 100px;
    background-color: rgb(107, 69, 124);
}

.items-box3 {
    transition-property: width, height;
    transition-duration: 0.3s, 0.5s;
}

.items-box3:hover {
    width: 100px;
    height: 100px;
    background-color: rgb(107, 69, 124);
}

.items-box4 {
    transition-delay: 0.8s;
    transition-property: width;
    transition-duration: 0.5s;
}

.items-box4:hover {
    width: 70px;
    background-color: rgb(107, 69, 124);
}

.items-box5 {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.items-box5:hover {
    width: 80px;
    height: 80px;
    background-color: rgb(107, 69, 124);
}

.items-box6 {
    transition: all, 1s, ease-in, 1s;
}

.items-box6:hover {
    width: 170px;
    height: 170px;
    background-color: rgb(107, 69, 124);
}

/*====animation=============================*/


.items-box7 {
    animation-name: rotate;
    animation-duration: 0.8s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

.items-box8 {
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

.items-box9 {
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-iteration-count: 3;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

.items-box10 {
    animation-name: rotate;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: 5;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}


.items-box11 {
    animation-name: rotate;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: 5;
    animation-delay: 0.5s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}


.items-box12 {
    animation-name: rotate-border;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: 5;
    animation-fill-mode: forwards;
}

@keyframes rotate-border {
    0% {
        transform: rotate(0deg);
    }

    100% {
        border-radius: 30px;
        background-color: #fff;
        transform: rotate(90deg);
    }
}


/*----footer-------------------*/

.footer {}

.footer__container {}

.footer__content {}

.footer__transition {
    width: 600px;
    height: 350px;
    margin: 50px;
    background-color: rgb(104, 204, 235);
}

.footer__birthday {
    position: relative;
}

.footer__pea {
    background: url("../img/footer/peas.png") 0 0/cover no-repeat;
    width: 60px;
    height: 160px;
    position: absolute;
    top: 130px;
    left: 100px;
    z-index: 10;
    transition: all, 1s, ease, 0s;
}

.footer__pea::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    background-color: rgba(64, 127, 146, 0.89);
    position: absolute;
    top: 157px;
    left: 27px;
    transform: skew(-85deg, 65deg);
}

.footer__broccoli {
    background: url("../img/footer/broccoli.png") 0 0/100% no-repeat;
    width: 100px;
    height: 150px;
    position: absolute;
    top: 130px;
    left: 350px;
    transition: all, 1s, ease, 0.3s;
}

.footer__broccoli::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgb(64, 127, 146, 0.89);
    position: relative;
    top: 125px;
    left: 40px;
    transform: skew(-85deg, 65deg);
}

/*============================================*/
.footer__pea:hover {
    background: url("../img/footer/peas-happy.png") 0 0/cover no-repeat;
    width: 60px;
    height: 160px;
    position: absolute;
    top: 130px;
    left: 100px;
}

.footer__pea:hover::after {
    content: "Happy Birthday!!!";
    display: inline-block;
    position: relative;
    bottom: 80px;
}

.footer__pea:hover+.footer__broccoli {
    background: url("../img/footer/broccoli-happy.png") 0 0/100% no-repeat;
    width: 100px;
    height: 150px;
    position: absolute;
    top: 130px;
    left: 350px;
}

.footer__balloons {
    transition: all, 1s, ease-out, 0s;
}

.balloons {
    position: relative;
    visibility: hidden;

}

[class*="balloons__b"] {
    background: url("../img/footer/balloon.png") 0 0/100% no-repeat;
    width: 50px;
    height: 60px;
    position: absolute;
}

.balloons__b1 {
    left: 150px;
}

.balloons__b2 {
    left: 85px;
}

.balloons__b3 {
    top: -35px;
    left: 140px;
}

.balloons__b4 {
    top: -32px;
    left: 200px;
}

.footer__pea:hover>.balloons {
    visibility: visible;

}

/*=========================================*/
.footer__animation {
    margin: 50px;
}

.footer__donuts {
    background: url("../img/footer/donuts/donuts.jpg") 0 0/100% auto no-repeat;
    width: 700px;
    height: 550px;

}

.footer__scooter {
    background: url("../img/footer/donuts/scooter.png") 0 0/ cover no-repeat;
    width: 235px;
    height: 275px;
    position: relative;
    top: 120px;
    left: 40px;
    transform: translate(-200%, 0);
    animation: scooter 3s linear infinite;
    z-index: 50;
}

@keyframes scooter {
    0% {
        transform: translate(-200%, 0);
    }

    100% {
        transform: translate(200%, 0);
    }
}

.footer__chocolate {
    background: url("../img/footer/donuts/chocolate.png") 0 0/ 100% no-repeat;
    width: 700px;
    height: 550px;
    position: relative;
    bottom: 275px;
    opacity: 0;
    animation: choco 3s infinite 2.4s;

}

@keyframes choco {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}